

/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {height: 800px}

/* Set black background color, white text and some padding */
footer {
    background-color: #555;
    color: white;
    padding: 15px;
}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
    .sidenav {
        height: auto;
        padding: 15px;
    }
    .row.content {height:auto;}
}

.data-title {
    margin: 0 auto;
}

.data-title-name {
    font-size: 24pt;
    width: fit-content;
    padding-right: 10px;
    border-right: 1px solid #555555;
    display: inline-block;
    padding-top: 6px;
}

.collected-with {
    font-size: 8pt;
}

.data-title-link {
    width: fit-content;
    padding: 4px;
    display: inline-block;
}
.data-title-link a {
    font-size: 16pt;
}